body {
	background-color: #FFE8CC;
	font-family: "Libertinus Mono", monospace;
}

#main {
	width: 100%;
	height: 90%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 400px;
	padding: 30px 120px;
	background-color: #ffcb57;
}

.title {
	font-size: 8vh;
	color: #732b00;
}

.button-submit {
	margin-top: 20px;
	margin-left: auto;
	width: 12vh;
	padding: 5px 16px;
	background-color: #cb6700;
	color: #e8e8e8;
	border: none;
	border-radius: 2px;
	font-family: "Libertinus Mono", monospace;
	font-size: 1.8vh;
	transition: 0.1s;
}

.button-submit:hover {
	opacity: 0.8;
	cursor: pointer;
}

.button-file::-webkit-file-upload-button {
  visibility: hidden;
}

.button-a::before {
	content: "Select files";
	width: 20vh;
	padding: 12px 24px;
	background-color: #cb6700;
	color: #e8e8e8;
	border: none;
	border-radius: 2px;
	font-family: "Nunito", sans-serif;
	font-size: 2vh;
	transition: 0.1s;
}

.button-a:hover {
	opacity: 0.8;
	cursor: pointer;
}
